html,
body {
    height: 100%;
    background-color: rgb(147, 147, 255);
}

td {
    width: 70px;
    height: 70px;
}

img { 
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#menu {
    margin: 15px auto;
    background-color: darkblue;
    padding: 10px 5px;
    border-radius: 14px;
    width: 70vw;
}

#jogo {
    margin: 0px auto
}

.scoreboard {
    margin: 0 auto;
    color: white;
    text-align: center;
}

label {
    color: red;
}

h1 {
    text-align: center;
    color: rgb(215, 177, 250);
    font-size: large;
}

p {
    text-align: center;
    color: rgb(215, 177, 250);
    font-size: medium;
}