body{
  background-image: linear-gradient(to bottom right, #141414, #4b4b4b);
  height: 100vh;
  width: 100vw;
  color: aliceblue;
}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.child {
  width: 70vw;
  height: ;
  padding: 50px;
}