@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', monospace;
}


body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 10rem;
  background: #23263A;
  /* font-family: Gothic Medium,'Courier New', Courier, monospace; */
  font-size: x-large;
  color: #f7f7fa; 
}   
h1{
    font-size: 70px;
}

h5{
  color: #32354e;

}
hr{
  color: #FF4A57;
  border-color: #FF4A57;
}
.styled {
    width: 300px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #f7f7fa;
    background-color: #FF4A57;

}

*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.child{
    width: 70%;
  height: 700px;
}

.child2{
  width: 60%;
  height: 500px;
  padding: 50px;
  background-color: #2B2D41;
}