body {
    min-height: 100vh;
    display: grid;
    padding: 1rem;
    background: #73a580;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #3e363f; 
  }


*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}

.child{
    width: 70%;
    height: 1000px;
    border: 1px solid red;
}


